####1. Welch's t-Test

In [57]:
import scipy.stats
scipy.stats.ttest_ind(list1, list2, equal_var = False)

(9.9357022262420944, 3.8102742258887383e-23)

For one sided t-test, divide the p value by 2 to get the actual p.

In [52]:
import numpy
import scipy.stats
import pandas as pd

def compare_averages(filename):
    """
    Performs a t-test on two sets of baseball data (left-handed and right-handed hitters).

    You will be given a csv file that has three columns.  A player's
    name, handedness (L for lefthanded or R for righthanded) and their
    career batting average (called 'avg'). You can look at the csv
    file by downloading the baseball_stats file from Downloadables below. 
    
    Write a function that will read that the csv file into a pandas data frame,
    and run Welch's t-test on the two cohorts defined by handedness.
    
    One cohort should be a data frame of right-handed batters. And the other
    cohort should be a data frame of left-handed batters.
    
    We have included the scipy.stats library to help you write
    or implement Welch's t-test:
    http://docs.scipy.org/doc/scipy/reference/stats.html
    
    With a significance level of 95%, if there is no difference
    between the two cohorts, return a tuple consisting of
    True, and then the tuple returned by scipy.stats.ttest.  
    
    If there is a difference, return a tuple consisting of
    False, and then the tuple returned by scipy.stats.ttest.
    
    For example, the tuple that you return may look like:
    (True, (9.93570222, 0.000023))
    """
    #read the dataframe
    data = pd.read_csv(filename)
    #subset of data
    right_handed = data[data['handedness'] == "R"]
    left_handed = data[data['handedness'] == "L"]
    #t-test
    list1 = left_handed['avg']
    list2 = right_handed['avg']
    (t, p) = scipy.stats.ttest_ind(list1, list2, equal_var = False)
    #return tuple results
    if p < 0.05:
        return (False, (t,p)) 
    else:
        return (True, (t,p))

In [53]:
compare_averages("baseball_stats.csv")

(False, (9.9357022262420944, 3.8102742258887383e-23))

In [13]:
#load the data into dataframe
baseball_data = pd.read_csv("baseball_stats.csv")
baseball_data.head()

           name handedness height weight    avg   HR
0  Brandon Hyde          R     75    210  0.000    0
1   Carey Selph          R     69    175  0.277    0
2  Philip Nastu          L     74    180  0.040    0
3    Kent Hrbek          L     76    200  0.282  293
4   Bill Risley          R     74    215  0.000    0

In [30]:
# get the left_handed subset
df = baseball_data
left_handed = df[df['handedness'] == "L"]
left_handed.head()

               name handedness height weight    avg   HR
2      Philip Nastu          L     74    180  0.040    0
3        Kent Hrbek          L     76    200  0.282  293
9      Tom Browning          L     73    190  0.153    2
13        Tom Brown          L     70    168  0.265   64
15  Floyd Bannister          L     73    190  0.175    0

In [48]:
# get the right_handed subset
df = baseball_data
right_handed = df[df['handedness'] == "R"]

In [54]:
#t-test for the avg
list1 = left_handed['avg']
list2 = right_handed['avg']
#return a tuple of (t,p)
(t, p) = scipy.stats.ttest_ind(list1, list2, equal_var = False)
print (t,p)
# check if the Null hypothesis are True or Not

(9.9357022262420944, 3.8102742258887383e-23)

In [36]:
# check if the Null hypothesis are True or Not
def check_p(tuple_result):
    if tuple_result[1] < 0.05:
        return False
    else:
        return True

In [37]:
check_p((t,p))

False

In [47]:
# Return a tuple of True and then the stats result
results = (check_p((t,p)), (t,p))
results

(False, (9.7669946914742365, 1.8052426848527729e-22))

####2. Linear regression:

In [95]:
import statsmodels.api as sm

def linear_regression(features, values):
    """
    Performs linear regression given a dataset with an arbitrary number of features.
    'features' is the input data points (or the X's) and 'values' is the output data points
    (or the Y's).
    
    Returns the intercept and the parameters, that is, the optimal values of theta.
    
    This page contains example code that may be helpful:
    http://statsmodels.sourceforge.net/0.5.0/generated/statsmodels.regression.linear_model.OLS.html
    """

    ###########################
    ### YOUR CODE GOES HERE ###
    ###########################
    model = sm.OLS(values, sm.add_constant(features))
    results = model.fit()
    intercept = results.params[0]
    params = results.params[1:]
    return intercept, params

In [64]:
Y = range(1,6)

In [70]:
Y

[1, 2, 3, 4, 5]

In [87]:
X1 = range(1,6)

In [88]:
model = sm.OLS(Y, X1)

In [89]:
results = model.fit()

In [93]:
results.params[1:]

array([], dtype=float64)

In [94]:
results.params[0]

0.99999999999999978

In [147]:
import numpy as np

def compute_r_squared(data, predictions):
    # Write a function that, given two input numpy arrays, 'data', and 'predictions,'
    # returns the coefficient of determination, R^2, for the model that produced 
    # predictions.
    # 
    # Numpy has a couple of functions -- np.mean() and np.sum() --
    # that you might find useful, but you don't have to use them.

    # YOUR CODE GOES HERE
    difference_squared = map(lambda data, predictions: (data - predictions)**2, data, predictions)
    mean_data = np.mean(data)
    variance = map(lambda data: (data - mean_data)**2, data)
    r_squared = 1 - sum(difference_squared)/sum(variance)

    return r_squared

In [148]:
data = [1, 2, 3, 4, 5]
predictions = [1, 2.1, 2.2, 2.3, 3]
compute_r_squared(data, predictions)

0.246

In [119]:
a = [1, 2, 3, 4, 5]
b = [1, 2.1, 2.2, 2.3, 3]
c = np.mean(a)
c
#r_squared = 1 - (data - predictions)**2/(data - mean_data)**2

3.0

In [133]:
difference  = map(lambda a,b:(a-b)**2,a,b)

In [138]:
difference

[0, 0.010000000000000018, 0.6399999999999997, 2.8900000000000006, 4]

In [137]:
sum(difference)

7.54

In [135]:
variance = map(lambda a:(a-c)**2,a)

In [139]:
variance

[4.0, 1.0, 0.0, 1.0, 4.0]

In [136]:
sum(variance)

[4.0, 1.0, 0.0, 1.0, 4.0]

In [140]:
r_square = 1 - sum(difference)/sum(variance)

In [141]:
r_square

0.246