In [11]:
import os
os.getcwd()

'/Users/thuy/Documents/Data-Science/Turnstile problems'

In [12]:
ls

Problem set 2 .ipynb              nexwfile.txt                      turnstile_weather_v2.csv
This is a test.rtf                output_file                       updated_Thuy
master_file                       test_output.txt                   updated_Udacity
master_file.csv                   turnstile-weather-variables.pdf   updated_turnstile_110528.txt
newfile.txt                       turnstile_110528.txt              updated_turnstile_weather_v2.csv

In [13]:
# Updated the name
filenames = ['Thuy', 'Udacity']
for name in filenames:
    with open("updated_" + name, 'w') as g:
        writer = csv.writer(g)
        print g

NameError: name 'csv' is not defined

In [15]:
import csv
with open("turnstile_110528.txt", 'r') as f: # read the file
    reader = csv.reader(f)
    counter = 0
    for line in reader: # get the rows
        counter += 1
        if counter == 3:
            print line

['A002', 'R051', '02-00-00', '05-23-11', '16:00:00', 'REGULAR', '003171194', '001098447', '05-23-11', '20:00:00', 'REGULAR', '003172059', '001098511', '05-24-11', '00:00:00', 'REGULAR', '003172200', '001098528', '05-24-11', '04:00:00', 'REGULAR', '003172214', '001098529', '05-24-11', '08:00:00', 'REGULAR', '003172266', '001098628', '05-24-11', '12:00:00', 'REGULAR', '003172407', '001098952', '05-24-11', '16:00:00', 'REGULAR', '003172689', '001099010', '05-24-11', '20:00:00', 'REGULAR', '003173590', '001099055              ']

###Break down to smaller codes to test

In [16]:
line = ['A002', 'R051', '02-00-00', '05-21-11', '00:00:00', 'REGULAR', '003169391', '001097585', '05-21-11', '04:00:00', 'REGULAR', '003169415', '001097588', '05-21-11', '08:00:00', 'REGULAR', '003169431', '001097607', '05-21-11', '12:00:00', 'REGULAR', '003169506', '001097686', '05-21-11', '16:00:00', 'REGULAR', '003169693', '001097734', '05-21-11', '20:00:00', 'REGULAR', '003169998', '001097769', '05-22-11', '00:00:00', 'REGULAR', '003170119', '001097792', '05-22-11', '04:00:00', 'REGULAR', '003170146', '001097801']

In [17]:
print line

['A002', 'R051', '02-00-00', '05-21-11', '00:00:00', 'REGULAR', '003169391', '001097585', '05-21-11', '04:00:00', 'REGULAR', '003169415', '001097588', '05-21-11', '08:00:00', 'REGULAR', '003169431', '001097607', '05-21-11', '12:00:00', 'REGULAR', '003169506', '001097686', '05-21-11', '16:00:00', 'REGULAR', '003169693', '001097734', '05-21-11', '20:00:00', 'REGULAR', '003169998', '001097769', '05-22-11', '00:00:00', 'REGULAR', '003170119', '001097792', '05-22-11', '04:00:00', 'REGULAR', '003170146', '001097801']

In [23]:
first_three = line[:3]
remainder = line[3:]
print first_three
print remainder

['A002', 'R051', '02-00-00']
['05-21-11', '00:00:00', 'REGULAR', '003169391', '001097585', '05-21-11', '04:00:00', 'REGULAR', '003169415', '001097588', '05-21-11', '08:00:00', 'REGULAR', '003169431', '001097607', '05-21-11', '12:00:00', 'REGULAR', '003169506', '001097686', '05-21-11', '16:00:00', 'REGULAR', '003169693', '001097734', '05-21-11', '20:00:00', 'REGULAR', '003169998', '001097769', '05-22-11', '00:00:00', 'REGULAR', '003170119', '001097792', '05-22-11', '04:00:00', 'REGULAR', '003170146', '001097801']

In [24]:
len(remainder)

40

In [25]:
for i in xrange(0, len(remainder), 5):
    print remainder[i:(i+5)]

['05-21-11', '00:00:00', 'REGULAR', '003169391', '001097585']
['05-21-11', '04:00:00', 'REGULAR', '003169415', '001097588']
['05-21-11', '08:00:00', 'REGULAR', '003169431', '001097607']
['05-21-11', '12:00:00', 'REGULAR', '003169506', '001097686']
['05-21-11', '16:00:00', 'REGULAR', '003169693', '001097734']
['05-21-11', '20:00:00', 'REGULAR', '003169998', '001097769']
['05-22-11', '00:00:00', 'REGULAR', '003170119', '001097792']
['05-22-11', '04:00:00', 'REGULAR', '003170146', '001097801']

In [26]:
import csv

def fix_turnstile_data(filenames):
    for name in filenames: # go through the list of files in filenames
        with open(name, 'r') as f: # read the file
            reader = csv.reader(f)
            with open("updated" + "_" + name, 'w') as g: # updated the name
                writer = csv.writer(g)
                for line in reader: # get the rows
                    first_three = line[:3] 
                    remainder = line[3:]
                    for i in xrange(0, len(remainder), 5):  # skip size of 5
                        # write a list as single row in csv file
                        writer.writerow(first_three + remainder[i: (i+5)])

In [27]:
filenames = ['turnstile_110528.txt']
fix_turnstile_data(filenames)

In [28]:
def create_master_turnstile_file(filenames, output_file):
    '''
    Write a function that takes the files in the list filenames, which all have the 
    columns 'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn', and consolidates
    them into one file located at output_file.  There should be ONE row with the column
    headers, located at the top of the file. The input files do not have column header
    rows of their own.
    
    For example, if file_1 has:
    line 1 ...
    line 2 ...
    
    and another file, file_2 has:
    line 3 ...
    line 4 ...
    line 5 ...
    
    We need to combine file_1 and file_2 into a master_file like below:
     'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
    line 1 ...
    line 2 ...
    line 3 ...
    line 4 ...
    line 5 ...
    '''
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        for filename in filenames:
            with open (filename, 'r') as f:
                for line in f:
                    if line:
                        master_file.write(line)
            # your code here

In [29]:
filenames = ['updated_turnstile_110528.txt']
create_master_turnstile_file(filenames, 'test_output.txt')
import pandas as pd
turnstile_data = pd.read_csv('test_output.txt')
turnstile_data.head(10)

    C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn   EXITSn
0  A002  R051  02-00-00  05-21-11  00:00:00  REGULAR   3169391  1097585
1  A002  R051  02-00-00  05-21-11  04:00:00  REGULAR   3169415  1097588
2  A002  R051  02-00-00  05-21-11  08:00:00  REGULAR   3169431  1097607
3  A002  R051  02-00-00  05-21-11  12:00:00  REGULAR   3169506  1097686
4  A002  R051  02-00-00  05-21-11  16:00:00  REGULAR   3169693  1097734
5  A002  R051  02-00-00  05-21-11  20:00:00  REGULAR   3169998  1097769
6  A002  R051  02-00-00  05-22-11  00:00:00  REGULAR   3170119  1097792
7  A002  R051  02-00-00  05-22-11  04:00:00  REGULAR   3170146  1097801
8  A002  R051  02-00-00  05-22-11  08:00:00  REGULAR   3170164  1097820
9  A002  R051  02-00-00  05-22-11  12:00:00  REGULAR   3170240  1097867

In [30]:
turnstile_data['DESCn'].describe()

count        7343
unique          8
top       REGULAR
freq         6183
Name: DESCn, dtype: object

In [31]:
turnstile_data[turnstile_data['DESCn'] == "REGULAR"]

       C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn   EXITSn
0     A002  R051  02-00-00  05-21-11  00:00:00  REGULAR   3169391  1097585
1     A002  R051  02-00-00  05-21-11  04:00:00  REGULAR   3169415  1097588
2     A002  R051  02-00-00  05-21-11  08:00:00  REGULAR   3169431  1097607
3     A002  R051  02-00-00  05-21-11  12:00:00  REGULAR   3169506  1097686
4     A002  R051  02-00-00  05-21-11  16:00:00  REGULAR   3169693  1097734
5     A002  R051  02-00-00  05-21-11  20:00:00  REGULAR   3169998  1097769
6     A002  R051  02-00-00  05-22-11  00:00:00  REGULAR   3170119  1097792
7     A002  R051  02-00-00  05-22-11  04:00:00  REGULAR   3170146  1097801
8     A002  R051  02-00-00  05-22-11  08:00:00  REGULAR   3170164  1097820
9     A002  R051  02-00-00  05-22-11  12:00:00  REGULAR   3170240  1097867
10    A002  R051  02-00-00  05-22-11  16:00:00  REGULAR   3170388  1097912
11    A002  R051  02-00-00  05-22-11  20:00:00  REGULAR   3170611  1097941
12    A002  R051  02-00-00  05-23-11  00:00:00  REGULAR   3170695  1097964
13    A002  R051  02-00-00  05-23-11  04:00:00  REGULAR   3170701  1097964
14    A002  R051  02-00-00  05-23-11  08:00:00  REGULAR   3170746  1098069
15    A002  R051  02-00-00  05-23-11  12:00:00  REGULAR   3170897  1098378
16    A002  R051  02-00-00  05-23-11  16:00:00  REGULAR   3171194  1098447
17    A002  R051  02-00-00  05-23-11  20:00:00  REGULAR   3172059  1098511
18    A002  R051  02-00-00  05-24-11  00:00:00  REGULAR   3172200  1098528
19    A002  R051  02-00-00  05-24-11  04:00:00  REGULAR   3172214  1098529
20    A002  R051  02-00-00  05-24-11  08:00:00  REGULAR   3172266  1098628
21    A002  R051  02-00-00  05-24-11  12:00:00  REGULAR   3172407  1098952
22    A002  R051  02-00-00  05-24-11  16:00:00  REGULAR   3172689  1099010
23    A002  R051  02-00-00  05-24-11  20:00:00  REGULAR   3173590  1099055
24    A002  R051  02-00-00  05-25-11  00:00:00  REGULAR   3173803  1099079
25    A002  R051  02-00-00  05-25-11  04:00:00  REGULAR   3173826  1099081
26    A002  R051  02-00-00  05-25-11  08:00:00  REGULAR   3173873  1099178
27    A002  R051  02-00-00  05-25-11  12:00:00  REGULAR   3174022  1099496
28    A002  R051  02-00-00  05-25-11  16:00:00  REGULAR   3174309  1099572
29    A002  R051  02-00-00  05-25-11  20:00:00  REGULAR   3175172  1099651
...    ...   ...       ...       ...       ...      ...       ...      ...
7311  A042  R086  01-00-04  05-22-11  20:00:00  REGULAR    912511  4167549
7312  A042  R086  01-00-04  05-23-11  00:00:00  REGULAR    912606  4167828
7313  A042  R086  01-00-04  05-23-11  04:00:00  REGULAR    912616  4167855
7314  A042  R086  01-00-04  05-23-11  08:00:00  REGULAR    912622  4168025
7315  A042  R086  01-00-04  05-23-11  12:00:00  REGULAR    912679  4168923
7316  A042  R086  01-00-04  05-23-11  16:00:00  REGULAR    912843  4169719
7317  A042  R086  01-00-04  05-23-11  20:00:00  REGULAR    913194  4170521
7318  A042  R086  01-00-04  05-24-11  00:00:00  REGULAR    913291  4170682
7319  A042  R086  01-00-04  05-24-11  04:00:00  REGULAR    913300  4170711
7320  A042  R086  01-00-04  05-24-11  08:00:00  REGULAR    913309  4170890
7321  A042  R086  01-00-04  05-24-11  12:00:00  REGULAR    913360  4171856
7322  A042  R086  01-00-04  05-24-11  16:00:00  REGULAR    913536  4172582
7323  A042  R086  01-00-04  05-24-11  20:00:00  REGULAR    913892  4173464
7324  A042  R086  01-00-04  05-25-11  00:00:00  REGULAR    914006  4173624
7327  A042  R086  01-00-04  05-25-11  08:00:00  REGULAR    914027  4173813
7328  A042  R086  01-00-04  05-25-11  12:00:00  REGULAR    914087  4174759
7329  A042  R086  01-00-04  05-25-11  16:00:00  REGULAR    914262  4175544
7330  A042  R086  01-00-04  05-25-11  20:00:00  REGULAR    914686  4176445
7331  A042  R086  01-00-04  05-26-11  00:00:00  REGULAR    914808  4176633
7332  A042  R086  01-00-04  05-26-11  04:00:00  REGULAR    914822  4176664
7333  A042  R086  01-00-04  05-26-11  08:00:00  REGULAR    914830  4176849
7334  A042  R086  01-00-04  05-26-11  12:00:00  REGULAR    914902  4177778
7335  A042  R086  01-00-04  05-26-11  16:00:00  REGULAR    915105  4178603
7336  A042  R086  01-00-04  05-26-11  20:00:00  REGULAR    915583  4179421
7337  A042  R086  01-00-04  05-27-11  00:00:00  REGULAR    915724  4179647
7338  A042  R086  01-00-04  05-27-11  04:00:00  REGULAR    915737  4179675
7339  A042  R086  01-00-04  05-27-11  08:00:00  REGULAR    915743  4179820
7340  A042  R086  01-00-04  05-27-11  12:00:00  REGULAR    915806  4180746
7341  A042  R086  01-00-04  05-27-11  16:00:00  REGULAR    916090  4181746
7342  A042  R086  01-00-04  05-27-11  20:00:00  REGULAR    916517  4182631

[6183 rows x 8 columns]

In [32]:
turnstile_data['DESCn'].describe()

count        7343
unique          8
top       REGULAR
freq         6183
Name: DESCn, dtype: object

In [33]:
import pandas

def filter_by_regular(filename):
    '''
    This function should read the csv file located at filename into a pandas dataframe,
    and filter the dataframe to only rows where the 'DESCn' column has the value 'REGULAR'.
    
    For example, if the pandas dataframe is as follows:
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231
    
    The dataframe will look like below after filtering to only rows where DESCn column
    has the value 'REGULAR':
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    '''
    
    turnstile_data = pandas.read_csv(filename)
    return turnstile_data[turnstile_data['DESCn'] == "REGULAR"]
    
    # your code here
    # more of your code here

In [34]:
open('/Users/thuy/Documents/Introduction to data science/Turnstile problems/newfile.txt', 'a')

IOError: [Errno 2] No such file or directory: '/Users/thuy/Documents/Introduction to data science/Turnstile problems/newfile.txt'

In [ ]:
with open('newfile.txt', 'w') as f:
    f.write('This is a test')

In [ ]:
with open('newfile.txt', 'r') as f:
    read_data = f.read()
    print read_data

In [ ]:
import pandas

def get_hourly_entries(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative entry numbers to a count of entries since the last reading
    (i.e., entries since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called ENTRIESn_hourly
       2) Assign to the column the difference between ENTRIESn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 1.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Examples of what your dataframe should look like at the end of this exercise:
    
           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243
    ...
    ...

    '''
    #your code here
    df.loc[:,'ENTRIESn_hourly'] = (df.ENTRIESn - df.ENTRIESn.shift(+1)).fillna(1)
    return df

In [36]:
subset_turnstile = turnstile_data[:5]

In [ ]:
subset_turnstile

In [ ]:
test1 = subset_turnstile.ENTRIESn[3] - subset_turnstile.ENTRIESn[2]
test1

In [ ]:
ENTRIESn_hourly = []
for i in subset_turnstile.ENTRIESn:
    ENTRIESn_hourly.append(i)
    print subset_turnstile.ENTRIESn[i+1] - subset_turnstile.ENTRIESn[i]

In [ ]:
len(subset_turnstile.ENTRIESn)

In [ ]:
import numpy as np
x = np.random(3)

In [37]:
df = subset_turnstile
ENTRIESn_shifted = df.ENTRIESn.shift(+1)

In [ ]:
print ENTRIESn_shifted

In [ ]:
ENTRIESn_hourly = df.ENTRIESn -  ENTRIESn_shifted

In [ ]:
ENTRIESn_hourly

In [ ]:
df['ENTRIESn_hourly'] = pd.Series(ENTRIESn_hourly, index=df.index)

In [ ]:
df.loc[:,'ENTRIESn_hourly'] = ENTRIESn_hourly

In [ ]:
df

In [ ]:
df['ENTRIESn_hourly'].fillna(1)

In [ ]:
df

In [ ]:
import pandas

def get_hourly_exits(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative exit numbers to a count of exits since the last reading
    (i.e., exits since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called EXITSn_hourly
       2) Assign to the column the difference between EXITSn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 0.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Example dataframe below:

          Unnamed: 0   C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly  EXITSn_hourly
    0              0  A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                0              0
    1              1  A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23              8
    2              2  A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18             18
    3              3  A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71             54
    4              4  A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170             44
    5              5  A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214             42
    6              6  A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87             11
    7              7  A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10              3
    8              8  A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36             89
    9              9  A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153            333
    '''
    df.loc[:,'EXITSn_hourly'] = (df.EXITSn - df.EXITSn.shift(+1)).fillna(0)
    #your code here
    return df

In [ ]:
import pandas

def time_to_hour(time):
    '''
    Given an input variable time that represents time in the format of:
    "00:00:00" (hour:minutes:seconds)
    
    Write a function to extract the hour part from the input variable time
    and return it as an integer. For example:
        1) if hour is 00, your code should return 0
        2) if hour is 01, your code should return 1
        3) if hour is 21, your code should return 21
        
    Please return hour as an integer.
    '''
    
    hour = abs(int(time.split(':')[0]))# your code here
    return hour

In [ ]:
l = df.TIMEn[1]

In [ ]:
l

In [ ]:
l.split(':')

In [ ]:
for i in l.split(':'):
    print i

In [ ]:
abs(l.split(':'))

In [ ]:
abs(01)

In [ ]:
abs('01')

In [ ]:
abs(int('01'))

In [ ]:
import datetime

def reformat_subway_dates(date):
    '''
    The dates in our subway data are formatted in the format month-day-year.
    The dates in our weather underground data are formatted year-month-day.
    
    In order to join these two data sets together, we'll want the dates formatted
    the same way.  Write a function that takes as its input a date in the MTA Subway
    data format, and returns a date in the weather underground format.
    
    Hint: 
    There are a couple of useful functions in the datetime library that will
    help on this assignment, called strptime and strftime. 
    More info can be seen here and further in the documentation section:
    http://docs.python.org/2/library/datetime.html#datetime.datetime.strptime
    '''

    date_strptime = date.map(lambda x: dt.datetime.strptime(x, '%y-%m-%d'))
    date_formatted = date_strptime.map(lambda x: dt.datetime.strftime(x, '20%y-%m-%d'))# your code here
    return date_formatted

In [46]:
import datetime as dt
d = dt.datetime.strptime('05-01-2015', '%m-%d-%Y')
print d

2015-05-01 00:00:00

In [38]:
df.DATEn

0    05-21-11
1    05-21-11
2    05-21-11
3    05-21-11
4    05-21-11
Name: DATEn, dtype: object

In [48]:
#convert subway data date to a date.datetime object using strp
import datetime as dt 
date_formatted = df.DATEn.map(lambda x: dt.datetime.strptime(x, '%m-%d-%y'))
print date_formatted

0   2011-05-21
1   2011-05-21
2   2011-05-21
3   2011-05-21
4   2011-05-21
Name: DATEn, dtype: datetime64[ns]

In [61]:
#specific change the date using strftime
date1_new = date_formatted.map(lambda x: dt.datetime.strftime(x, '20%y-%m-%d'))

In [62]:
date1_new[1]

'2011-05-21'